{% extends 'base.html' %} {% block body %}

<div align="center">List of projects:</div>

<div class="row justify-content-center">
  <div class="col-lg-3 col-md-6">
    <div class="card shadow text-center" style="width: 15rem">
      <div class="inner">
        <a href="#" target="_blank"
          ><img
            src="{{ url_for('static', filename='albert.jpg') }}"
            class="card-img-top"
            alt="..."
        /></a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Einstein</h5>
        <p class="card-text">Convert mass to energy</p>
        <a href="einstein" class="btn">Go to pset!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card shadow text-center" style="width: 15rem">
      <div class="inner">
        <img
          src="{{ url_for('static', filename='ascii.png') }}"
          class="card-img-top"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Figlet</h5>
        <p class="card-text">Turn text to ascii art</p>
        <a href="figlet" class="btn">Go to pset!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card shadow text-center" style="width: 15rem">
      <div class="inner">
        <img
          src="{{ url_for('static', filename='meal.jpg') }}"
          class="card-img-top"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Meal</h5>
        <p class="card-text">Check what meal time is it</p>
        <a href="meal" class="btn">Go to pset!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card shadow text-center" style="width: 15rem">
      <div class="inner">
        <img
          src="{{ url_for('static', filename='shirt.png') }}"
          class="card-img-top"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Shirtificate</h5>
        <p class="card-text">Make your own CS50 shirtificate</p>
        <a href="{{ url_for('views.shirt') }}" class="btn">Go to pset!</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
