<!doctype html>
<html>
    <head>
        <title> {% block title %} Home {% endblock %} </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <a href="login"> Login </a>
        <a href="signup"> Sign Up </a>
        
        {% block body %}

        {% endblock %}

    </body>
</html>